@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Bobby Jones';
    src: url('./fonts/bobby_jones/Bobby Jones Soft.otf') format('opentype'),
         url('./fonts/bobby_jones/Bobby Rough Soft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@layer utilities {
    .text-shadow {
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
  }